server:
  port: 8761

spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: localhost
    preferIpAddress: true
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
       defaultZone: http://localhost:8761/eureka/ # one eureka server
  server:
      waitTimeInMsWhenSyncEmpty: 0
      enableSelfPreservation: false
